.header{
    height: auto;
    width: 100%;
    background-color: #161616;
    position: fixed;
    top: 0;
    z-index: 999;
    box-shadow: 2px 2px 5px rgb(124, 124, 124);
    .banner{
        width: 100vw;
        height: 18px;
        .b1{
            width: 100vw;
            color: #ffffff;
            animation-duration: 18s;
            animation-name: slidein;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            position: absolute;
        }
        .b2{
            width: 100vw;
            color: transparent;
            animation-duration: 18s;
            animation-name: slidein;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-delay: 6s;
            height: 3px;
            position: absolute;
        }
        .b3{
            width: 100vw;
            color: transparent;
            animation-duration: 18s;
            animation-name: slidein;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-delay: 12s;
            height: 3px;
            position: absolute;
        }
    }
    @keyframes slidein {
        from {
            color: #ffffff;
            margin-left: 100%;
            width: 300%
        }
      
        to {
            color: #ffffff;
            margin-left: -12%;
            width: 100%;
        }
      }
    .barraNav{
        width: 90%;
        height: 100px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;   
        .primeraparte{
            width: 36%;
        }
        .marca{
            width: 340px;
            height: 100px;
            margin: 0 auto;
            .link-marca{
                width: 340px;
                height: 100px;
                margin: 0 auto;
                align-items: center;
                justify-items: center;
                .img-marca{
                    position: absolute;
                    width: 300px;

                }
            }
        }
        .nav-icons{
            height: 100px;
            width: 36%;
            display: flex;
            flex-direction: row;
            .cart-container{
                width: 90%;
                display: flex;
                justify-content: flex-end;
            }
            .settings-container{
                width: 10%;
                display: flex;
                .btn-login, .btn-logout{
                    width: 40px;
                    background-color: transparent;
                    height: 100px;
                    display: flex;
                    margin-right: 0px;
                    margin-top: 4px;
                    border: none;
                    .img-login, .img-logout{
                        margin-top: 35px;
                        width: 30px;
                    }
                }
                .settings-container{
                    background-color: yellow;
                    width: 50%;
                    .btn-settings{
                        width: 40px;
                        background-color: transparent;
                        height: 100px;
                        display: flex;
                        flex-direction: row;
                        margin-right: 0px;
    
                        .img-settings{
                            width: 40px;
                        }
                    }

                }
            }
        }
    }
}
.barra-admin{
    height: 50px;
    width: 100%;
    background-color: black;
    box-shadow: 2px 2px 5px rgb(124, 124, 124);
    .btn-stock{
        border: none;
        background-color: transparent;
        color: white;
        text-align: center;
        font-size: 20px;
        margin-top: 8px;
        width: 120px;
        border-right: 1px solid white;
        font-style: italic;
    }
    .btn-precio{
        border: none;
        background-color: transparent;
        color: white;
        text-align: center;
        font-size: 20px;
        margin-top: 8px;
        width: 200px;
        border-right: 1px solid white;
        font-style: italic;
    }
    .btn-producto{
        border: none;
        background-color: transparent;
        color: white;
        text-align: center;
        font-size: 20px;
        margin-top: 8px;
        width: 170px;
        border-right: 1px solid white;
        font-style: italic;
    }
    .btn-eliminar{
        border: none;
        background-color: transparent;
        color: white;
        text-align: center;
        font-size: 20px;
        margin-top: 8px;
        width: 170px;
        border-right: 1px solid white;
        font-style: italic;
    }
    .btn-control{
        border: none;
        background-color: transparent;
        color: white;
        text-align: center;
        font-size: 20px;
        margin-top: 8px;
        width: 100px;
        border-right: 1px solid white;
        font-style: italic;
    }
    .btn-entregas{
        border: none;
        background-color: transparent;
        color: white;
        text-align: center;
        font-size: 20px;
        margin-top: 8px;
        width: 100px;
        font-style: italic;
    }
}

@media only screen and (max-width:768px){
    .banner{
        height: 10px !important;
    }
    .primeraparte{
        width: 0% !important;
    }
    .marca{
        width: 340px;
        height: 100px;
        margin: 0 auto;
        .link-marca{
            width: 240px;
            height: 100px;
            margin: 0 auto;
            align-items: center;
            justify-items: center;
            .img-marca{
                position: absolute;
                width: 200px !important;
                margin-top: 20px;

            }
        }
    }
    .nav-icons{
        height: 100px;
        width: 36%;
        display: flex;
        flex-direction: row;
    }
    .cart-container{
        width: 60% !important;
        display: flex;
        justify-content: flex-end;
    }
    .btn-login, .btn-logout{
        width: 40px;
        background-color: transparent;
        height: 100px;
        display: flex;
        margin-right: 0px;
        margin-top: 4px;
        border: none;
        .img-login, .img-logout{
            margin-top: 35px;
            width: 25px !important;
        }
    }
    .barra-admin{
        height: 35px;
        width: 100%;
        background-color: black;
        box-shadow: 2px 2px 5px rgb(124, 124, 124);
        .btn-stock{
            border: none;
            background-color: transparent;
            color: white;
            text-align: center;
            font-size: 12px !important;
            margin-top: 8px;
            width: 80px !important;
            border-right: 1px solid white;
            font-style: italic;
        }
        .btn-precio{
            border: none;
            background-color: transparent;
            color: white;
            text-align: center;
            font-size: 12px !important;
            margin-top: 8px;
            width: 100px;
            border-right: 1px solid white;
            font-style: italic;
        }
        .btn-producto{
            border: none;
            background-color: transparent;
            color: white;
            text-align: center;
            font-size: 12px !important;
            margin-top: 8px;
            width: 100px;
            border-right: 1px solid white;
            font-style: italic;
        }
        .btn-eliminar{
            border: none;
            background-color: transparent;
            color: white;
            text-align: center;
            font-size: 12px !important;
            margin-top: 8px;
            width: 100px;
            font-style: italic;
        }
    }
}