.GifSection {
	height: 800px;
	background-image: url(../../assets/img/im2.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

	color: white;

	&__info {
		height: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;

		h2 {
			margin: 45px 0;
		}
	}
}

@media (min-width: 800px){
	.HeroSection {

		&__info {
			width: 60%;
		}
	}
}

@media (min-width: 1200px){
	.HeroSection {

		&__info {
			width: 30%;
		}
	}
}



@media only screen and (max-width:768px){
	.GifSection {
		margin-top: 100px;
		width: 100% !important;
		height: 200px !important;
		background-image: url(../../assets/img/im2.jpg);
		background-size: contain !important;
		background-repeat: no-repeat;
		background-position-y: top;
		background-position-y: 100px;
	}
}