.GifSection {
	width: 90%;
	margin: 0 auto;
	padding-top: 125px;
	color: white;
	height: auto;
	&__info {
		height: auto;
    	display: grid;
    	grid-template-columns: 1fr;
		div{
			width: 100%;
			img{
				width: 100%;
			}
		}
		.fotoCel{
			display: none;
		}
	}
}

@media only screen and (max-width:768px){
	.GifSection {
		padding-top: 110px !important;
		width: 100% !important;
		height: auto !important;
		&__info {
			display: grid;
			grid-template-columns: 1fr;
			gap: 10px !important;
			height: auto;
			div{
				width: 100%;
				position: relative;
				height: auto;
				img{
					position: relative;
					width: 100%;
					height: auto;
				}
				.fotoCel{
					display: flex !important;
				}
				.fotoWeb{
					display: none !important;
				}
			}
		}
	}
}

@media (max-width: 512px) {
	.GifSection{
		.fotoCel{
			display: flex !important;
		}
		.fotoWeb{
			display: none !important;
		}

	}
}