.GifSection {
	width: 90%;
	margin: 0 auto;
	padding-top: 125px;
	color: white;

	&__info {
		height: 1050px;
    	display: grid;
    	grid-template-columns: 1fr;
		div{
			width: 100%;
			img{
				width: 100%;
			}
		}
		.foto2{
			margin-top: -50px;
		}
	}
}

@media only screen and (max-width:768px){
	.GifSection {
		padding-top: 110px !important;
		width: 100% !important;
		height: 600px !important;
		&__info {
			display: grid;
			grid-template-columns: 1fr;
			gap: 10px !important;
			height: auto;
			div{
				width: 100%;
				position: relative;
				height: auto;
				img{
					position: relative;
					width: 100%;
					height: auto;
				}
			}
		}
	}
}