.footer{
    height: auto;
    background-color: #131313;
    margin-top: 20px;
    z-index: 999;
    .container{
        display: flex;
        flex-direction: row;
        width: 100% !important;
        .navegacion{
            width: 45%;
        }
        div{
            padding: 10px;
            display: flex;
            flex-direction: column;
            h3{
                color: #ffffff;
                font-size: 18px;
                margin-bottom: 12px;
                letter-spacing: 1px;
            }
            h5{
                color: #ffffff;
                font-size: 15px;
                svg{
                    font-size: 25px;
                }
            }
            button{
                color: #ffffff;
                font-size: 15px;
                border: none;
                background-color: transparent;
                text-align: left;
                width: fit-content;
                margin-left: -6px;
                &:hover{
                    color: #fffb00;
                }
            }
        }
        .contacto{
            width: 55%;
            div{
                margin: 0;
                padding: 0;
                a{
                    text-decoration: none;
                }
                span{
                    padding-left: 5px;
                }
                .instagram{
                    cursor: pointer;
                    width: fit-content;
                    span{
                        &:hover{
                            color: #fffb00;
                        }
                    }
                }
            }
        }
    }
}