.copyRight{
    background-color: #ffffff;
    height: 30px;
    .container{
        display: grid;
        grid-template-columns: 1fr;
        height: 30px;
        .misDatos{
            display: flex;
            flex-direction: row;
            margin: 0 auto;
            height: 30px;
            img{
                margin-left: 8px;
                margin-right: 8px;
            }
            p{
                font-family: CR;
                padding-top: 3px;
                height: 30px;
                color: #000000;
            }
        }
        .cr{
            height: 30px;
            p{
                padding-top: 3px;
                height: 30px;
                color: #000000;
                font-weight: bold;
            }
        }
    }
}