body {
  margin: 0;
  padding: 0;
  font-family: OpenSans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background-color: #ffffff !important;
  background-image: url('./assets/img/fondocebra.jpg') !important;
  background-repeat: repeat;
}

@font-face {
  font-family: OpenSans;
  src: url(fonts/OpenSansCondensed.ttf); 
}

@font-face {
  font-family: Fiesta;
  src: url(fonts/Fiesta.ttf); 
}

@font-face {
  font-family: CR;
  src: url(fonts/Boogaloo-Regular.ttf); 
}

@media (min-width: 1200px) {
	.container {
		width: 90%;
		margin: 0 auto;
	}
}

